.wrapper {
  border-radius: 5px;
  width: fit-content;
  background-color: #dee3e3;
  padding: 8px 10px;
  margin: 10px;
  cursor: pointer;
}

.textLabel {
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  color: #384242;
  text-align: center;
}

:hover{
  background-color: #848888;
  color: white;
}